/**
  Put specific erratics styling here
**/

.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 999px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  background: red;
  cursor: inherit;
  display: block;
}
/**
Thought about adding some colour, but decided there was a reason I'm not a designer
body {
  background-color: rgb(248, 248, 248);
}

#content {
    background-color: rgb(255, 255, 255);
}
**/